html{
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow-y: scroll;  
}

html::-webkit-scrollbar{
  display: none;
  width: 0 !important;
}

.App {
  box-sizing: border-box;
  background-color: #DBE2EF;
 -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow-y: scroll;  
}

.App::-webkit-scrollbar{
  display: none;
  width: 0 !important
}

.layout {
  display: none;
  margin: 20px 20px;
  min-height: 100vh;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-height: 840px;
  overflow: scroll;
}

.list::-webkit-scrollbar{
  display: none;
  width: 0 !important;
}



@media only screen and (max-width: 600px) {
  .layout {
    display: none;
    margin: 20px 20px;
    flex-wrap: wrap;
  }

.displayFlex{
  display: flex;
}  

}

